# Copyright (c) CircleCI
# SPDX-License-Identifier: MPL-2.0

version: 2.1

orbs:
  go: circleci/go@3.0.3
  terraform: circleci/terraform@3.7.0

commands:
  store_results:
    steps:
      - store_artifacts:
          path: test-reports
      - store_test_results:
          path: test-reports

  setup:
    parameters:
      terraform-version:
        type: string
    steps:
      - checkout
      - run: task mod-download
      - terraform/install:
          terraform_version: <<parameters.terraform-version>>
jobs:
  build-and-test-terraform:
    environment:
      GOPRIVATE: "github.com/CircleCI-Public/circleci-sdk-go"
      TF_ACC: 1
    parameters:
      terraform-version:
        type: string
    docker:
      - image: cimg/go:1.24.2

    steps:
      - setup:
          terraform-version: <<parameters.terraform-version>>
      - add_ssh_keys:
          fingerprints:
            - "SHA256:nsu4paPTXIfsGjm1DxG4wi8y72wv5kfuqTSrRH5rcKQ"
      - run: task build

      - run:
          name: Update PATH and Define Environment Variable at Runtime
          # Add source command to execute code and make variables
          # available in current step.
          command: |
            echo "export CIRCLE_TOKEN=${CCIPERSONALACCESSTOKEN_ASKSEC_310}" >> "$BASH_ENV"
            source "$BASH_ENV"
      - go/with-cache:
          steps:
            - run: task ci:test
      - store_results

  lint:
    executor:
      name: go/default
      tag: '1.24'
    steps:
      - setup:
          terraform-version: "1.12.2"
      - go/with-cache:
          golangci-lint: true
          steps:
            - run: task ci:diff
            - run: task ci:lint
      - store_results


workflows:
  build-and-test:
    jobs:
      - lint
      - build-and-test-terraform:
          matrix:
            parameters:
              terraform-version:
                - "1.14.0"
                - "1.13.5"
                - "1.12.2"
          context: CircleCITestOrg-ccipat
