version: 2.1

orbs:
  go: circleci/go@3.0.2
  terraform: circleci/terraform@3.6.0

filters: &filters
  tags:
    only: /.*/

jobs:
  build-and-test:
    parameters:
      terraform-version:
        type: string
    docker:
      - image: cimg/go:1.24.2

    steps:
      - checkout
      - go/mod-download
      - run: go build -v .
      # - run: golangci-lint run
      - terraform/install:
          terraform_version: <<parameters.terraform-version>>
      - run: go test -v -cover ./internal/provider/

  generate-doc:
    docker:
      - image: cimg/go:1.24.2
    steps:
      - checkout
      - run: make generate
      - run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'make generate' command and commit."; exit 1)

workflows:
  build-and-test:
    jobs:
      - build-and-test:
          terraform-version: "1.0.11"
          filters: *filters
      - generate-doc:
          requires:
            - build-and-test
          filters: *filters
