version: 2.1

orbs:
  go: circleci/go@3.0.2
  terraform: circleci/terraform@3.6.0

filters: &filters
  tags:
    only: /.*/

jobs:
  build-and-test:
    environment:
      GOPRIVATE: "github.com/CircleCI-Public/circleci-sdk-go"
    parameters:
      terraform-version:
        type: string
    docker:
      - image: cimg/go:1.24.2

    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "SHA256:nsu4paPTXIfsGjm1DxG4wi8y72wv5kfuqTSrRH5rcKQ"
      - go/mod-download
      - run: go build -v .
      # - run: golangci-lint run
      - terraform/install:
          terraform_version: <<parameters.terraform-version>>
      - go/gotestsum
      - store_test_results:
          path: unit-tests.xml

workflows:
  build-and-test:
    jobs:
      - build-and-test:
          matrix:
            parameters:
              terraform-version:
                - "1.0.11"
                - "1.1.9"
                - "1.2.9"
                - "1.3.10"
                - "1.2.9"
                - "1.4.7"
                - "1.5.7"
                - "1.6.6"
                - "1.7.5"
                - "1.8.5"
                - "1.9.8"
                - "1.10.5"
                - "1.11.4"
          context: orb-developer
          filters: *filters
