version: 2.1

orbs:
  go: circleci/go@3.0.2
  terraform: circleci/terraform@3.6.0

filters: &filters
  tags:
    only: /.*/

jobs:
  build-and-test:
    environment:
      GOPRIVATE: "github.com/CircleCI-Public/circleci-sdk-go"
    parameters:
      terraform-version:
        type: string
    docker:
      - image: cimg/go:1.24.2

    steps:
      - checkout
      - run: export GITHUB_TOKEN=$GHI_TOKEN
      - run: env
      - go/mod-download
      - run: go build -v .
      # - run: golangci-lint run
      - terraform/install:
          terraform_version: <<parameters.terraform-version>>
      - run: go test -v -cover ./internal/provider/

  generate-doc:
    docker:
      - image: cimg/go:1.24.2
    steps:
      - checkout
      - run: make generate
      - run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'make generate' command and commit."; exit 1)

workflows:
  build-and-test:
    jobs:
      - build-and-test:
          matrix:
            parameters:
              terraform-version:
                - "1.0.11"
                - "1.1.9"
                - "1.2.9"
                - "1.3.10"
                - "1.2.9"
                - "1.4.7"
                - "1.5.7"
                - "1.6.6"
                - "1.7.5"
                - "1.8.5"
                - "1.9.8"
                - "1.10.5"
                - "1.11.4"
          context: orb-developer
          filters: *filters
      - generate-doc:
          requires:
            - build-and-test
          filters: *filters
