---
page_title: "circleci_context Resource - circleci"
subcategory: ""
description: |-
  Manages a CircleCI context.
---

# circleci_context (Resource)

Manages a CircleCI context. Contexts provide a mechanism for securing and sharing environment variables across projects.

## Example Usage

```terraform
resource "circleci_context" "example" {
  organization_id = "00000000-0000-0000-0000-000000000000"
  name            = "my-context"
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using `organization_id/context_id`:

```shell
terraform import circleci_context.example "<organization_id>/<context_id>"
```
