---
page_title: "circleci_context_restriction Resource - circleci"
subcategory: ""
description: |-
  Manages a CircleCI context restriction.
---

# circleci_context_restriction (Resource)

Manages a restriction on a CircleCI context. Restrictions control which projects or groups can use a context.

## Example Usage

```terraform
resource "circleci_context_restriction" "example" {
  context_id = "00000000-0000-0000-0000-000000000000"
  type       = "project"
  value      = "00000000-0000-0000-0000-000000000001"
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using `context_id/restriction_id`:

```shell
terraform import circleci_context_restriction.example "<context_id>/<restriction_id>"
```
