---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Manages a CircleCI project.
---

# {{.Name}} ({{.Type}})

## Example Usage

{{ tffile "examples/resources/circleci_project/project.tf" }}


{{ .SchemaMarkdown | trimspace }}
