---
page_title: "circleci_runner_resource_class Resource - circleci"
subcategory: ""
description: |-
  Manages a CircleCI self-hosted runner resource class.
---

# circleci_runner_resource_class (Resource)

Manages a CircleCI self-hosted runner resource class. Resource classes define a pool of self-hosted runners within an organization namespace.

## Example Usage

```terraform
resource "circleci_runner_resource_class" "example" {
  organization_id = "00000000-0000-0000-0000-000000000000"
  resource_class  = "my-namespace/my-runner"
  description     = "My self-hosted runner"
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the resource class name in `namespace/name` format:

```shell
terraform import circleci_runner_resource_class.example "my-namespace/my-runner"
```

After import, Terraform will call the API to populate the full state. Note that `organization_id` is resolved from the resource class during the subsequent read.
