---
page_title: "circleci_context Data Source - circleci"
subcategory: ""
description: |-
  Fetches information about a CircleCI context, including its restrictions.
---

# circleci_context (Data Source)

Fetches information about a CircleCI context, including its restrictions.

## Example Usage

```terraform
data "circleci_context" "example" {
  id = "00000000-0000-0000-0000-000000000000"
}
```

{{ .SchemaMarkdown | trimspace }}
