---
page_title: "circleci_project_settings Data Source - circleci"
subcategory: ""
description: |-
  Fetches information about a CircleCI project's settings.
---

# circleci_project_settings (Data Source)

Fetches information about a CircleCI project's settings.

## Example Usage

```terraform
data "circleci_project_settings" "example" {
  slug = "github/my-org/my-repo"
}
```

{{ .SchemaMarkdown | trimspace }}
