---
page_title: "circleci_project Data Source - circleci"
subcategory: ""
description: |-
  Fetches information about a CircleCI project and its settings.
---

# circleci_project (Data Source)

Fetches information about a CircleCI project and its settings.

## Example Usage

```terraform
data "circleci_project" "example" {
  slug = "github/my-org/my-repo"
}
```

{{ .SchemaMarkdown | trimspace }}
