---
page_title: "circleci_runner_resource_class Data Source - circleci"
subcategory: ""
description: |-
  Fetches information about a CircleCI self-hosted runner resource class.
---

# circleci_runner_resource_class (Data Source)

Fetches information about a CircleCI self-hosted runner resource class.

## Example Usage

```terraform
data "circleci_runner_resource_class" "example" {
  organization_id = "00000000-0000-0000-0000-000000000000"
  resource_class  = "my-namespace/my-runner"
}
```

{{ .SchemaMarkdown | trimspace }}
